@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header {
    text-align:center;
    background: darkgreen;
    padding: 20px 0; 
}
/* For the Navs */
nav {
  position: sticky;
  top: 0;
  overflow: hidden;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
nav a {
    display:block;
    border-radius: 5px;
    color: whitesmoke;
    padding: 1em;
    text-decoration: none;
} 
nav a:hover {
    background-color: darkblue;  
}
/* Provides a background to images, excluding the projects page */
figure {
    border-radius: 2rem; 
    box-shadow: 0.5px 0.5px 0.5px black;
    padding: 0.5rem 0.5rem; 
    margin: auto; 
    background-color: white;
}
 figure figcaption {
    color:darkblue;
    font-size: 75%;
}
img {  /* projects page images */
    display: grid;
    border-radius: 35px;
    height: auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
}
h1 {
  font-size: 50px;
    color: darkblue;
    font-family: "Anton", serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    color: mediumblue;
    font-family: "Anton", serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
}
table, th, td {
  border: 1px solid;
  background-color: darkgreen;
  color: white;
}
body {
    text-align:center;
    background-color: lightgreen;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 1.3rem;
}
p {  /* Adds spacing between contact info - contact page */
  text-indent: 25px;
}
table {
  text-indent: 20px;
}
/* Centers the table on homepage */
.center {
   margin-left: auto;
   margin-right: auto;

  }
    footer{
        max-height: 100px;
        padding: 10px 0; 
        background-color: darkgreen;
        color: darkblue; 
    }
    .logo {
      width: 300px;
      height: auto;
    }
    /* Gives division in pages */ 
    .games {
        border-radius: 0.5px;
        background: lightgreen;
        padding: 0.2px;
        margin: 1em; 
    }
    .movies {
      border-radius: 0.5px;
      background: lightgreen;
      padding: 0.2px;
      margin: 1em; 
  }
    thead {
        background-color: lightgreen;
    } 
    .anton-regular { /* Adds the title font */
        font-family: "Anton", serif;
        font-weight: 400;
        font-style: normal;
      }
      .biography { /* everything below changes the colours for the "About me" page  */
        background-color: lightblue;
      }
      .bio {
        background-color: blue;
      }
      .bio h1 {
        color: lightgreen;
      }
      .foot {
        background-color: blue;
      }
      .foot p {
        color: lightgreen;
      }
      @media only screen and (min-width: 769px) {

        .Pics {
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
        .container {
          display:grid;
          grid-template-columns: 1fr 1fr;
        }
        }
        